/*********** STYLE GLOBAL **********/
body{
	padding-top:10px;
	font-family: 'Open Sans', sans-serif;}
.row{
	margin-bottom: 5px !important;
}
.navbar {
    margin-bottom:0px;
}

#frame-top-menu{
	position: relative; 
}

#top-menu {
    position: absolute;
    bottom: 0;
    right:0;
}
.link-show {
	writing-mode: vertical-rl;
    text-orientation: sideways;
}
.section-head-title h4{
	font-size:26px !important;
}
h1,h2,h3,h4,h5{
	margin-bottom:10px !important;
	margin-top: 10px !important;
}
h5{
	font-size: 14px !important;
}
.label-theme{
	background:#467da2;
}
.ligne-commentaire h4{
	font-size: 18px !important;
}

.cadre-engagement-home{
	/*background-color: #467da2;*/
	/*border:1px solid #467da2;*/
	color:#467da2;
	padding-top:8px;
	border-radius:5px;
	background: url('../images/bg_body.png');
	padding-bottom: 8px;

}
.boxpadding{
	padding-top:8px;
}
.sectionTitle{
	position:relative;
	top:-10px;
	text-align: center;
}
.stateInbox{
	color:black;
}
#cadre-tweet{
	
}
#ligne-tweet{
	/*background: url('../images/bg_body.png');*/
	/*background-color:#ffffff;*/
	border:1px solid #467da2;
	border-radius:5px;
	
}
#cadre-rapport{
	border:1px solid #467da2;
	border-radius:5px;
}
#ligne-tweet p{
	color:black;
}

.medium-h5{
	font-size:15px !important;
}
.slide-post{
	position:absolute;
	top:0px;
}
.post-blog-image{
	width: 100%;
    height: 135px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.post-blog-content{
	padding:0px;
}
.icon-etat-size{
	font-size:18px !important;
}
.txt-comment-titre{
	font-size:20px;
}
.detail-description-txt{
	font-size:20px;
}
.detail-info{
	font-size: 20px;
}
.txt-comment-contenu{
	font-size:18px;
}
.media-frame{
	margin-bottom:5px;
}
#Stage_jbeeb_3{

}
#chrono{
	margin-bottom: 15px;
}
